@font-face {
    font-family: aincrad-font;
    src: url("SAOUI-Regular.otf") format("opentype");
}

* {
    font-family: aincrad-font;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
    border: none;
}

html {
    height: 100%;
}

body {
    background-image: url("/assets/img/background.jpg");
    /* background-color: black; */
    margin: 0;
    padding: 0;
    min-height: 100%;
}

footer {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(2vh);
    color: rgba(255, 255, 255);
    border-radius: 0.4vw;
    border: solid rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 1.5vh;
    justify-self: center;
}

.mainpage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 2.5vh 6.5vw 7.5vh;
    gap: 10vh;
}

input,
select,
button {
    outline: none;
}

.nav-item:link,
.nav-item:visited {
    text-decoration: none;
    color: #fff;
}

.nav-item:active {
    color: #000;
    filter: opacity(0.5);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0vw 2vw; */
    width: 100%;
    height: 5vh;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1vw);
    border-radius: 0.75vw;
    color: #fff;
    font-size: 1.3vw;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2vw;
    gap: 2.5vw;
}

.nav-right,
.nav-right.nav-item,
.not-user,
.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.4vw;
    gap: 1.5vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2vh 1.5vh;
}

.tiles {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.text-large {
    width: 13vw;
    height: 2.83vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1vw);
    border-top-right-radius: 0.75vw;
    border-top-left-radius: 0.75vw;
    font-weight: 700;
    font-size: 1.2vw;
    /* line-height: 37vh; */
    text-align: center;
    align-content: end;
    color: rgba(0, 0, 0, 0.5);
}

.text-medium {
    width: 6.5vw;
    height: 2.83vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1vw);
    border-top-right-radius: 0.75vw;
    border-top-left-radius: 0.75vw;
    font-weight: 700;
    font-size: 1vw;
    line-height: 3.3vh;
    text-align: center;
    align-content: end;
    color: rgba(0, 0, 0, 0.5);
}

.text-small {
    /* width: 4.25vw; */
    height: 2.83vh;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1vw);
    border-top-right-radius: 0.75vw;
    border-top-left-radius: 0.75vw;
    font-weight: 700;
    font-size: 1vw;
    line-height: 3.3vh;
    text-align: center;
    align-content: end;
    color: rgba(0, 0, 0, 0.5);
}

.input-large {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    width: 13vw;
    height: 2.83vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(127, 127, 127, 0.5);
    border-bottom-right-radius: 0.75vw;
    border-bottom-left-radius: 0.75vw;
    font-size: 1.2vw;
    line-height: 3.3vh;
    text-align: center;
    align-content: end;
    color: rgba(255, 255, 255);
}

.input-large::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.dropdown-large {
    width: 13vw;
    height: 2.83vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(127, 127, 127, 0.5);
    border-bottom-right-radius: 0.75vw;
    border-bottom-left-radius: 0.75vw;
    font-size: 1.2vw;
    line-height: 3.3vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
    align-content: end;
    color: #fff;
}

.dropdown-medium {
    width: 6.5vw;
    height: 2.83vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(127, 127, 127, 0.5);
    border-bottom-right-radius: 0.75vw;
    border-bottom-left-radius: 0.75vw;
    /* border-radius: 0.3vw; */
    font-size: 1vw;
    line-height: 3.3vh;
    display: flex;
    align-items: flex-end;
    text-align: center;
    align-content: end;
    color: #fff;
}

.tile-small {
    width: 10vw;
    height: 8vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2vh);
    border-radius: 1.75vw;
    font-weight: 700;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    align-content: end;
    color: rgba(0, 0, 0, 0.75);
}

.tile-large {
    width: 20vw;
    height: 8vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2vh);
    border-radius: 1.75vw;
    font-weight: 700;
    font-size: 2vw;
    align-items: center;
    text-align: center;
    align-content: center;
    color: rgba(0, 0, 0, 0.75);
}

.clickable:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.slot-large {
    width: 20vh;
    height: 20vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.5vw;
}

.slot-large img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 20vh;
    transition: all 1s ease-in-out;
}

.slot-medium {
    width: 8.5vh;
    height: 8.5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2vh);
    /* border-bottom-right-radius: 0.75vw;border-bottom-left-radius: 0.75vw; */
    border-radius: 1.5vh;
}

.slot-medium img {
    height: 7vh;
}

.slot-small {
    width: 3.5vh;
    height: 3.5vh;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2vh);
    /* border-bottom-right-radius: 0.75vw;border-bottom-left-radius: 0.75vw; */
    border-radius: 0.5vw;
}

.slot-small img {
    height: 3.5vh;
}

.slot-disabled {
    filter: opacity(0.4);
}

.group {
    /* border: solid red; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2vh);
    border-radius: 0.75vw;
    height: fit-content;
}

.div-row {
    display: flex;
    width: 13.248vw;
    justify-content: space-between;
    align-items: center;
}

.div-group {
    display: flex;
    flex-direction: column;
    /* width: 13.248vw; */
    gap: 0.5vh;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled {
    color: #000;
    filter: opacity(0.5);
    /* background: red; */
}

.hide {
    display: none;
}

.divider {
    height: 2.5vh;
    width: 0.25vw;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
}

.separator {
    width: 100%;
    height: 0.5vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1vw;
}